@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .footer {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    /* border-top-right-radius: 50%; */
  }

  @media screen and (max-width: 500px) {
    .footer {
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%) !important;
      /* border-top-right-radius: 50%; */
    }
  }

  .footer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    background: red;
    border-radius: 0 50% 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .card {
    @apply rounded-3xl shadow-sm;
  }

  .heading-1 {
    @apply text-2xl font-medium;
  }

  .separator {
    @apply w-full h-[1px] bg-gray-300;
  }

  .button {
    @apply bg-black text-white rounded-full px-4 py-1;
  }
  .outline-button {
    @apply px-4 py-1 text-white border-2 border-white rounded-full;
  }

  .dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-gray-200 min-w-[210px] flex flex-col gap-2 justify-end items-end z-10;
  }

  .dropdown_link {
    @apply text-sm text-gray-700 hover:text-gray-500 font-medium;
  }
}

th {
  text-align: left;
}
